<!DOCTYPE html>
<html>
  <head>
    <title>Log Me</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    
     <link rel="stylesheet" href="src/normalize.css">
        <link rel="stylesheet" href="src/main.css" media="screen" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="src/bootstrap.css">
        <link rel="stylesheet" href="src/style-portfolio.css">
        <link rel="stylesheet" href="src/picto-foundry-food.css" />
        <link rel="stylesheet" href="src/jquery-ui.css">
         <link href="src/font-awesome.min.css" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="icon" href="favicon-1.ico" type="image/x-icon">
    <!-- Polyfill(s) for older browsers -->
    <script src="node_modules/core-js/client/shim.min.js"></script>

    <script src="node_modules/zone.js/dist/zone.js"></script>
    <script src="node_modules/systemjs/dist/system.src.js"></script>

    <script src="src/systemjs.config.js"></script>
    <script>
      System.import('src/main.js').catch(function(err){ console.error(err); });
    </script>
  </head>

  <body>
  
	  <base href="/">
    <my-app>Loading AppComponent content here ...</my-app>
    <script type="text/javascript" src="src/jquery-1.10.2.min.js"> </script>
        <script type="text/javascript" src="src/bootstrap.min.js" ></script>
        <script type="text/javascript" src="src/jquery-1.10.2.js"></script>     
        <script type="text/javascript" src="src/jquery.mixitup.min.js" ></script>
        <script type="text/javascript" src="src/main1.js" ></script>
  </body>
</html>