 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="row">
                <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        
                        <a class="navbar-brand" routerLink="/">Loggers</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav main-nav  clear navbar-right ">
                            <li><a class="navactive color_animation" href="#top">WELCOME</a></li>
                           <li class="dropdown">
                                <a class="dropdown-toggle color_animation" data-toggle="dropdown" href="#">{{firstname}} {{lastname}}
                                <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a routerLink="/editprofile">Edit Profile</a></li>
                                    <li><a routerLink="/editpassword">Change Password</a></li>
                                    <li><a href="/">Sign Out</a></li>  
                                </ul>
                            </li>
                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div>
            </div><!-- /.container-fluid -->
        </nav>
<div class="follow_container2"> 
 <div class="container col-md-4 col-md-offset-4">
  <h2 style="text-align:center">Edit Profile</h2>
  <hr/>
  <form class="form-horizontal" [formGroup]="complexForm">
    <div class="row col-xs-8" [ngClass]="{'has-error':!complexForm.controls['firstname'].valid && complexForm.controls['firstname'].touched}">
      <label for="firstname">Firstname:</label>
      <input type="text" class="form-control  input-lg" id="firstname" placeholder="Enter firstname" [(ngModel)]="firstname" name="firstname" [formControl]="complexForm.controls['firstname']">
      <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['firstname'].hasError('required') && complexForm.controls['firstname'].touched" class="alert alert-danger">You must include a first name.</div>
    </div> 
    <div class="form-group col-xs-8" [ngClass]="{'has-error':!complexForm.controls['lastname'].valid && complexForm.controls['lastname'].touched}">
      <label for="lastname">Lastname:</label>
      <input type="text" class="form-control input-lg" id="lastname" placeholder="Enter lastname" [(ngModel)]="lastname" name="lastname" [formControl]="complexForm.controls['lastname']">
        <!-- The hasError method can work with the built in validators but custom validators as well -->
      <div *ngIf="complexForm.controls['lastname'].hasError('required') && complexForm.controls['lastname'].touched" class="alert alert-danger">You must include a last name.</div>
    </div>
    <div class="form-group col-xs-8" [ngClass]="{'has-error':!complexForm.controls['email'].valid && complexForm.controls['email'].touched}">
    
      <label for="email">Email:</label>
      <input type="email" class="form-control input-lg" id="email" placeholder="Enter email" [(ngModel)]="email" name="email" [formControl]="complexForm.controls['email']">
        <!-- The hasError method can work with the built in validators but custom validators as well -->
      <div *ngIf="complexForm.controls['email'].hasError('required') && complexForm.controls['email'].touched" class="alert alert-danger">You must include EmailID.</div>
      <div *ngIf="complexForm.controls['email'].hasError('pattern') && complexForm.controls['email'].touched" class="alert alert-danger">You must include proper EmailID.</div>
    </div>
    <div class="form-group col-xs-8" [ngClass]="{'has-error':!complexForm.controls['username'].valid && complexForm.controls['username'].touched}">
      <label for="username">Username:</label>
      <input type="text" class="form-control input-lg" id="username" placeholder="Enter username" [(ngModel)]="username" name="username" [formControl]="complexForm.controls['username']">
      <!-- The hasError method will tell us if a particular error exists -->
        <div *ngIf="complexForm.controls['username'].hasError('required') && complexForm.controls['username'].touched" class="alert alert-danger">You must include a Username.</div>
        <div *ngIf="complexForm.controls['username'].hasError('minlength') && complexForm.controls['username'].touched" class="alert alert-danger">Your Username must be at least 5 characters long.</div>
    </div>
    <div class="form-group col-xs-8" [ngClass]="{'has-error':!complexForm.controls['password'].valid && complexForm.controls['password'].touched}">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control input-lg" id="pwd" placeholder="Enter password" [(ngModel)]="password" name="password" [formControl]="complexForm.controls['password']">
      <div *ngIf="complexForm.controls['password'].hasError('required') && complexForm.controls['password'].touched" class="alert alert-danger">You must include a Password.</div>
        <div *ngIf="complexForm.controls['password'].hasError('minlength') && complexForm.controls['password'].touched" class="alert alert-danger">Your Password must be at least 5 characters long.</div>
        <div *ngIf="complexForm.controls['password'].hasError('maxlength') && complexForm.controls['password'].touched" class="alert alert-danger">Your Password cannot exceed 10 characters.</div>
    </div>
    <div class="form-group col-xs-8">
    <button type="button" (click)="editUser()" class="btn btn-danger" [disabled]="!complexForm.valid">Edit</button>
    </div>
  </form>
</div>
</div>  